body {
    margin: auto;
    max-width: 580px;
    font-size: 16px; /* 增加字体大小以提升可读性 */
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f0f0f0; /* 调整背景色 */
    color: #333; /* 调整文字颜色 */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* 维持原色 */
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; /* 调整填充，使其更加宽松 */
    text-decoration: none;
}

.alert {
    /* ... */
    background-color: #f8f8f8; /* 调整为更轻的灰色 */
    color: #333; /* 文字颜色调整为深色 */
    border: 1px solid #ddd; /* 边框颜色调整为淡灰色 */
    /* ... */
}

.movie-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* 添加轻微的阴影效果 */
}

.movie-list li {
    padding: 20px; /* 增加填充 */
    border-bottom: none; /* 移除边框 */
    background-color: #fff; /* 背景色调整为纯白 */
}

.movie-list li:hover {
    background-color: #f2f2f2; /* 鼠标悬停效果 */
}

footer {
    /* ... */
    background-color: #333; /* 底部背景颜色 */
    color: white; /* 底部文字颜色 */
    padding: 15px 0; /* 增加填充 */
}

/* index分页控制相关 */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.page-item {
    display: inline;
}

.page-link {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.page-item.disabled .page-link {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

/*居中显示*/
.center {
    text-align: center;
}

/*豆瓣按钮*/
.btn-douban {
    padding: 5px 10px;
    background-color: #00b51a; /* 豆瓣的绿色调 */
    color: white; /* 白色文字 */
    text-decoration: none;
    border: none; /* 去除边框 */
    border-radius: 4px;
    margin-left: 10px;
    transition: background-color 0.3s ease; /* 平滑过渡效果 */
}

.btn-douban:hover {
    background-color: #009a16; /* 鼠标悬停时更深的绿色 */
}

.float-right {
    float: right;
}