<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ name }}'s Movie List{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/head_photo.jpg') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">首页</a></li>
            <!-- Other navigation items here -->
            <li><a href="{{ url_for('add_movie') }}">添加电影条目</a></li>
            <li><a href="{{ url_for('search_movie') }}">查询电影</a></li>

        </ul>
    </nav>

    {% block header %}
    <header>
         <div class="center">
            <h2>
                <img alt="MovieData" src="{{ url_for('static', filename='images/MovieData.png') }}" width="150px">
            </h2>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    <!-- Content will go here for pages that extend this template -->
    {% endblock %}

    <footer>
        <small>&copy; 2023, RUC DataBase <a href="https://github.com/DaveSum007/movie_task">孙大伟</a></small>
    </footer>

    {% block scripts %}
    <!-- Scripts can be added here if necessary -->
    {% endblock %}
</body>
</html>
